In [ ]:
import pandas as pd
raw_csv_data=pd.read_csv("Absenteeism_data.csv")
raw_csv_data

In [ ]:
df=raw_csv_data.copy()

In [ ]:
df

In [ ]:
pd.options.display.max_columns=None    #set to no maximum value
pd.options.display.max_rows=None

In [ ]:
display(df)

In [ ]:
df.info()     #prints a concise summary of the data frame

In [ ]:
#drop() removes specified rows or columns
df=df.drop(['ID'],axis=1)

In [ ]:
df_no_age=df.drop(['Age'],axis=1)
df_no_age

In [ ]:
#pd.unique() - extracts distinct values only
pd.unique(df['Reason for Absence'])

In [ ]:
# .unique() - extracts distinct values only
df['Reason for Absence'].unique()

In [ ]:
# len() returns the number of elements in an object
len(df['Reason for Absence'].unique())   #29 different reasons for absence from work

In [ ]:
# sorted() returns a new, sorted list from the items in its argument
sorted(df['Reason for Absence'].unique())

# splitting columns into multiple dummies

In [ ]:
# .get_dummies() converts categorical variable into dummy variables
reason_columns=pd.get_dummies(df['Reason for Absence'])
reason_columns

In [ ]:

reason_columns['check']=reason_columns.sum(axis=1)
reason_columns

In [ ]:
reason_columns['check'].sum(axis=0)

In [ ]:
reason_columns['check'].unique()

In [ ]:
reason_columns=reason_columns.drop(['check'],axis=1)
reason_columns

In [ ]:
age_dummies=pd.get_dummies(df['Age'])
age_dummies

In [ ]:
# drop 0 to avoid potential multicollinearity issues
reason_columns=pd.get_dummies(df['Reason for Absence'],drop_first=True)
reason_columns

# Group the reasons for absence

In [ ]:
df.columns.values

In [ ]:
#step1 
df=df.drop(['Reason for Absence'],axis=1)  #drop 'Reason for Absence' because it leads to multicollinearity

In [ ]:
df

In [ ]:
reason_type_1=reason_columns.loc[:,1:14].max(axis=1)
reason_type_2=reason_columns.loc[:,15:17].max(axis=1)
reason_type_3=reason_columns.loc[:,18:21].max(axis=1)
reason_type_4=reason_columns.loc[:,22:].max(axis=1)
#create all the four new columns

# Concatenate column values

In [ ]:
# step 3 
df

In [ ]:
# pd.concat()   = concatenate
# pandas is used to join reasons_ column to the dataframe df
df=pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4],axis=1)
df

In [ ]:
df.columns.values  #retrieve the column names of the dataset

In [ ]:
# rename the last four columns to reason_1, reason_2,reason_3,reason_4
column_names=['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours','Reason_1','Reason_2','Reason_3','Reason_4']
df.columns=column_names

In [ ]:
# .head() displays the top five rows of our data table, together with the relevant column names
df.head()

In [ ]:
#Concatenate the df_no_age and age_dummies objects.
#Store the result in a new object called df_concatenated.
df_concatenated=pd.concat([df_no_age,age_dummies],axis=1)
df_concatenated

# Reorder columns

In [ ]:
#change the order of the columns
column_names_reordered=['Reason_1','Reason_2','Reason_3','Reason_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']
df=df[column_names_reordered]
df.head()

In [ ]:
#Reorder the columns from df_concatented in such a way that the ‘Absenteeism Time in Hours’ column appears at the far right of the data set.
df_concatenated.columns.values

In [ ]:
column_names=['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 27,
       28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47, 48,
       49, 50, 58,'Absenteeism Time in Hours']
df_concatenated=df_concatenated[column_names]
df_concatenated.head()

# create a checkpoint

In [ ]:
#checkpoint --> interim save of your work 
df_reason_mod=df.copy()
df_reason_mod

In [ ]:
#Create a checkpoint of your work on the exercises,
#storing the current output in a variable called df_checkpoint.
df_checkpoint=df_concatenated.copy()
df_checkpoint

# Date

In [ ]:
#date is a python series object
df_reason_mod['Date']

In [ ]:
#timestamp used for values representing dates and time 
#pd.to_datetime() converts values into timestamp
df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'],format='%d/%m/%Y')

In [ ]:
df_reason_mod['Date'] 
# standard timestamp year-month-day

# Extract the month value

In [ ]:
# timestamp of pandas contain date and time 
type(df_reason_mod['Date'][0])

In [ ]:
df_reason_mod['Date'][0].month   #months take value from 1 to 12

In [ ]:
df_reason_mod.shape #first value represents length and second represents widht (700,12)

In [ ]:
list_months=[]

In [ ]:
for i in range(df_reason_mod.shape[0]):          #for i in range(700):
    list_months.append(df_reason_mod['Date'][i].month) #extract month value from each date column

In [ ]:
list_months

In [ ]:
len(list_months)

In [ ]:
df_reason_mod['Month Value']=list_months

In [ ]:
df_reason_mod.head(20)

# Extract the Day of the week

In [ ]:
df_reason_mod['Date'][699].weekday()

In [ ]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [ ]:
df_reason_mod['Day of the week']=df_reason_mod['Date'].apply(date_to_weekday)
# apply will repeatatively apply the date_to_weekday function to all rows of Date column

In [ ]:
df_reason_mod.head()

In [ ]:
df_reason_mod=df_reason_mod.drop(['Date'],axis=1)

In [ ]:
df_reason_mod.head()

In [ ]:
df_reason_mod.columns.values

In [ ]:
column_names=['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Month Value',
       'Day of the week','Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']
df_reason_mod=df_reason_mod[column_names]

In [ ]:
df_reason_mod.head()

In [ ]:
#Exercise - Create another checkpoint, calling the new variable df_reason_date_mod.
df_reason_date_mod=df_reason_mod.copy()
df_reason_date_mod.head()

# transform eduction column

In [ ]:
#unique() extracts distinct values only 
df_reason_date_mod['Education'].unique()

In [ ]:
# value_counts shows each of 1,2,3,4 Education values have been encountered how many times
df_reason_date_mod['Education'].value_counts()

In [ ]:
# syntax of map is .map({Dictionary}) #Dictionary is a key value pair
df_reason_date_mod['Education']=df_reason_date_mod['Education'].map({1:0,2:1,3:1,4:1})

In [ ]:
df_reason_date_mod['Education'].unique() #now the values in Education column are 0 or 1

In [ ]:
df_reason_date_mod['Education'].value_counts()

# Final Checkpoint

In [ ]:
df_preprocessed=df_reason_date_mod.copy()
df_preprocessed.head(10)
# the more manual way of preprocessing gives you a higher level of control over your data

In [ ]:
# exporting the dataset as a .csv file 
df_preprocessed.to_csv("Absenteeism_preprocessed.csv",index=False)